{% extends 'base.html' %}

{% block content %}

<div id="overlay" class="overlay">
  <div class="bg"></div>
  <div class="loader">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>

<div class="container page-content" id="index">
  <div class="row">
    <div class="twelve columns" id="full-content">
      <h1>Unsubscribe</h1>
      <form id="unsubscribeForm" action="{{ url_for('main.unsubscribe') }}" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% if email %}

        <p>
          <span id="page-text">
            Are you sure you would like to unsubscribe <strong>{{ email }}</strong> from all Fairway Area 321 emails?
          </span>
        </p>
        {{ form.email(class_="hidden") }}

        {% else %}

        <p class="margin-slim">Please enter your email address:</p>
        {{ form.email(class_="u-half-width u-text-center") }}
        <div id="error-placeholder"></div>

        {% endif %}

        <p>{{ form.submit(class_="button-primary") }}</p>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    unsubscribe_url = "{{url_for('main.unsubscribe') }}";
    trumpet_url = "{{url_for('main.trumpeter') }}";
    home_url = "{{url_for('main.index')}}";
  });
</script>

{% endblock %}
