body {
  background: $blue;
  background: #ff00ff;
}

.page-content {
  background: #ffffff;
  margin: 40px auto;
  padding: 40px 60px;
  border-radius: 10px;
}

.icon {
  margin-top: 40px;
  width: 60px;
}

.logo-bottom {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 140px;
  opacity: 0.2;
}

p {
  &.margin-slim {
    margin-bottom: 14px;
  }
  &.margin-none {
    margin-bottom: 0;
  }
}
