/* GLOBAL
 * ---------------------------------------------------------------------------*/

body {
  background: #58b3df;
}

.page-content {
  background: #ffffff;
  margin: 60px auto;
  padding: 60px;
  border-radius: 10px;
}

.form-error {
  display: block;
  color: red;
  padding-bottom: 14px;
}

#flash {
  background: rgba(255,255,255,0.8);
  text-align: center;
  padding: 16px 0;
  opacity: 0;
  transition: opacity 0.2s;
}

/* PAGE-SPECIFIC
 * ---------------------------------------------------------------------------*/

#index,
#login {
  text-align: center;
}

#index p:last-child,
#index form:last-child,
#index input:last-child {
  margin-bottom: 0;
}

#admin .page-location {
  padding-top: 9px;
}
