<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title>{{ title }} - Fairway321</title>
    {% else %}
    <title>Fairway 321</title>
    {% endif %}

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Lato:400,300,700" rel="stylesheet" type="text/css">

    {{ stylesheet_tag('app_css') | safe }}
    {{ javascript_tag('app_js') | safe }}
    {% if script_id %}
    {{ javascript_tag(script_id + '_js') | safe }}
    {% endif %}

    <link rel="icon" type="image/png" href="{{ asset_url_for('img/favicon.png') }}">

  </head>
  <body>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div id="flash">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  <div class="icon u-block-center">
    <a href="{{ url_for('main.index') }}">
      <img src="{{ asset_url_for('img/icon-white.png') }}" width="100%" />
    </a>
  </div>

  {% block content %}{% endblock %}

  <div class="logo-bottom u-block-center">
    <a href="http://fairwayindependentmc.com" target="_blank" rel="noopener noreferrer">
      <img src="{{ asset_url_for('img/fairway-black.png') }}" width="100%" />
    </a>
  </div>

  </body>
</html>
