{% extends 'base.html' %}

{% block content %}

<div id="overlay" class="overlay">
  <div class="bg"></div>
  <div class="loader">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>
</div>

<div class="container page-content" id="index">
  <div class="row">
    <div class="twelve columns" id="full-content">
      <h1>Unsubscribe</h1>
      <form action="{{ url_for('unsubscribe') }}" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% if email %}

        <p>
          <span id="page-text">
            Are you sure you would like to unsubscribe <strong>{{ email }}</strong> from all Fairway Area 321 emails?
          </span>
        </p>
        {{ form.email(class_="hidden") }}

        {% else %}

        <p class="margin-slim">Please enter your email address:</p>
        {{ form.email(class_="u-half-width u-text-center") }}

        {% endif %}

        <p>{{ form.submit(class_="button-primary") }}</p>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.input').keypress(function(e) {
      if(e.which == 13) {
        $('form').submit();
        return false;
      }
    });
    $('form').submit(function(e) {
      $('#overlay').css({'opacity': 1});
      var url = "{{ url_for('unsubscribe') }}";
      $.ajax({
        type: "POST",
        url: url,
        data: $('form').serialize(),
        success: function(data) {
          $('#overlay').css({'opacity': 0});
          $('#full-content').html('<h1>Success</h1><p>You have been successfully unsubscribed.</p>');
          var email = data['email'];
          var previously = data['previously'];
          if(previously === true) {
            trumpet('[WARNING] Multiple unsubscribes for ' + email + '.');
          }
        },
        error: function(data) {
          $('#overlay').css({'opacity': 0});
          if(data.responseJSON) {
            email = data.responseJSON['email'];
            trumpet('[500] Unsubscribe attempt failed for ' + email + '.');
          };
          $('#full-content').html('<h1>Error</h1><p>There was an error processing your request. Please try again at a later time.</p><p class="margin-none"><a class="button button-primary" href="{{ url_for('index') }}">Try Again</a></p>');
        }
      });
      e.preventDefault();
    });

    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
        }
      }
    })
  });

  function trumpet(source_text) {
    var url = "{{ url_for('trumpeter') }}";
    var text = JSON.stringify(source_text);
    $.ajax({
      type: "POST",
      url: url,
      data: text,
      contentType: "application/json",
      dataType: 'json'
    });
  };
</script>

{% endblock %}
